nodered_flow.json
[{"id":"slider_in","type":"ui_slider","z":"flow1","group":"group1","name":"","label":"Set Temperature","tooltip":"","group":"group1","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"chamber/temperature","min":0,"max":50,"step":1,"x":140,"y":140,"wires":[["logic_q3","gauge_therm"]]},{"id":"gauge_therm","type":"ui_gauge","z":"flow1","name":"","group":"group1","order":2,"width":0,"height":0,"gtype":"gage","title":"Chamber Temp","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":400,"y":100,"wires":[]},{"id":"logic_q3","type":"switch","z":"flow1","name":"Logic Q3","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"20","v2t":"num"},{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":180,"wires":[["f_green"],["f_yellow"],["f_red"]]},{"id":"f_green","type":"function","z":"flow1","name":"Green","func":"msg.background = \"green\";\nmsg.payload = \"L1 ACTIVE\";\nreturn msg;","outputs":1,"x":510,"y":160,"wires":[["L1_txt"]]},{"id":"f_yellow","type":"function","z":"flow1","name":"Yellow","func":"msg.background = \"yellow\";\nmsg.payload = \"L2 ACTIVE\";\nreturn msg;","outputs":1,"x":510,"y":200,"wires":[["L2_txt"]]},{"id":"f_red","type":"function","z":"flow1","name":"Red","func":"msg.background = \"red\";\nmsg.payload = \"L3 ACTIVE\";\nreturn msg;","outputs":1,"x":510,"y":240,"wires":[["L3_txt"]]},{"id":"L1_txt","type":"ui_text","z":"flow1","group":"group1","order":3,"width":0,"height":0,"name":"","label":"Status L1","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":160,"wires":[]},{"id":"L2_txt","type":"ui_text","z":"flow1","group":"group1","order":4,"width":0,"height":0,"name":"","label":"Status L2","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":200,"wires":[]},{"id":"L3_txt","type":"ui_text","z":"flow1","group":"group1","order":5,"width":0,"height":0,"name":"","label":"Status L3","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":240,"wires":[]},{"id":"group1","type":"ui_group","name":"Climate Control","tab":"tab1","order":1,"disp":true,"width":"6","collapse":false},{"id":"tab1","type":"ui_tab","name":"Home","icon":"dashboard","order":1}]